@media screen and (min-width:350px) and (max-width:500px){
    .secao{
        gap: 10px;
        display: flex;
        justify-content: center;
    }
    .secao a{
        font-size: 14px;
    }
    .imagem-logo img{
        height: 20px;
    }

    /*TITULO*/
    .orcamento{
        padding: 50px 10px;
    }
    .orcamento-interno{
        right:0px;
        text-align: center;
    }
    .h1-p{
        font-size:30px;
    }
    .orcamento p{
        font-size:20px;
    }
    .orcamento::before, .escolhas::before, .solicitar::before{
        display: none;
    }

    .container{
        bottom:0px;
        flex-direction: column;
    }

    .escolhas{
        justify-content: center;
        align-items: center;
    }
    .escolha{
        padding: 10px 15px;
    }
    .detalhe{
        top: 23px;
        right: 70px;
    }

    /*FORMULÁRIO*/
    .formulario{
        padding: 50px 0px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .formulario h2{
        text-align: center;
    }
    .formulario-interno-1{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px 30px;
    }
    .formulario-interno-1 input{
        height: 40px;
        width: 280px;
    }
    .inputs{
        text-align: start;
    }
    #cpf-email{
        width: 280px;
    }
    .agree{
        text-align: center;
        justify-content: center;
    }


    .footer-container{
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
    .copy0{
        display: none;
    }
    .copy1{
        display: block;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .container-logo {
        padding: 0px 90px;
    }
    .footer-bg{
        width: 100%;
        height: 100%;
    }
    .footer-informacoes, .footer-contato{
        font-size: 14px;
    }

}
@media screen and (min-width:800px) and (max-width:999px){
    /*TITULO*/
    .orcamento{
        padding: 50px 10px;
    }
    .orcamento-interno{
        right:0px;
    }
    .orcamento p, .h1-p{
        font-size:50px;
    }
    .orcamento p{
        font-size:20px;
    }
    .orcamento::before{
        right: 10px;
    }

    .container{
        bottom:0px;
        flex-direction: column;
    }

    /*FORMULÁRIO*/
    .formulario{
        padding: 50px;
        width: 100%;
        height: 100%;
    }
    .formulario-interno-1{
        flex-wrap: wrap;
        gap: 30px 30px;
    }
    .formulario-interno-1 input{
        height: 40px;
        width: 280px;
    }
    #cpf-email{
        width: 590px;
    }
}
@media screen and (min-width:1000px) and (max-width:1200px){
    /*TITULO*/
    .orcamento-interno{
        position: relative;
        right:95px;
    }
    .orcamento::before{
        right: 20px;
    }

    /*FORMULÁRIO*/
    .formulario{
        padding: 50px 0px 50px 30px;
        width: 100%;
        height: 100%;
    }
    .formulario-interno-1{
        flex-wrap: wrap;
        gap: 30px 30px;
    }
    .formulario-interno-1 input{
        height: 40px;
        width: 280px;
    }
    #cpf-email{
        width: 590px;
    }
}