/*Css Reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Menu*/
.header-bg {
  height: 90px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secao a{
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins";
  position: relative;
}

.secao a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
 }

 .secao a:hover:after{
  width: 100%;  
 }