/*css reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  display: block;
}
/*css reset*/

/*menu*/
.header-bg {
  height: 90px;
}

.header{
  width: 100%;
  justify-content:space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.secao a{
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins";
  position: relative;
}

.secao a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
 }

 .secao a:hover:after{
  width: 100%;  
 }
/*menu*/

/*header*/
.h2-termos{
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 20px;
}
.h1-termos{
  color: #fff;
}
.termos-bg{
  padding: 40px 0px 40px ;
  justify-content: center;
  align-items: center;
}
.termos-conteudo{
  flex-direction: column;
  position: relative;
  right: 270px;
}
/*header*/

/*main*/
.termos-itens-bg{
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
  position: relative;
  right: 250px;
}
.termos-itens-conteudo{
  flex-direction: column;
  gap: 1px;
  line-height: 2.7;
}
.termos-itens-conteudo h3{
  font-family: "Poppins";
  font-size: 24px;
}
.termos-itens-conteudo p{
  font-family: "Roboto";
  max-width: 700px;
}
/*main*/

/*footer*/
.footer-bg{
  height: 490px;
  background-color: #000;
  justify-content: center;
  }
  
  .footer-container{
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding-top: 60px;
    font-family: Roboto;
  }
  
  .footer-container .logo{
    width: 137px;
    height: 31px;
  }
  
  .footer-contato a{
    color: #b2b2b2;
  }
  
  .footer-contato h3{
    padding-bottom: 10px;
  }
  
  .footer-contato{
    flex-direction: column;
  }
  
  .org-contato, .org-local {
    padding: 10px 0px;
    flex-direction: column;
  }
  
  .social{
    padding: 10px 0px 0px 0px;
  }
  
  .footer-informacoes{
    flex-direction: column;
  }
  
  .informacoes-conteudo{
    flex-direction: column;
  }
  
  .informacoes-conteudo a{
    color: #b2b2b2;
  }
  
  .container-logo{
    flex-direction: column;
  }
  
  .copy0{
    margin-top: 330px;
  }
  
  .informacoes-conteudo a:hover{
    color: #fff;
  }
  
  .footer-contato a:hover{
    color: #fff;
  }
  
  .copy1{
    display: none;
  }